body {
    background-color: #fafafb;
     font-family: "Roboto Mono", monospace;
  }
  
  #text {
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 2px solid #000;
    padding: 5px;
    color: #000;
    border-radius: 8px;
  }
  
  #monsterStats {
    display: flex;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    padding: 1vh;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
  }
  .comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
    transform: translateY(-4px) translateX(-4px);
  }
  
  .comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  